@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  background-color: #C8E6C9
}

.day-quickview {
  font-size: .8em;
  text-align: center;
  padding-top: 5px;
}

.day-view-on {
  color: #333333;
  padding-left: 5px;
  padding-right: 5px;
}

.day-view-off {
  color: #CCCCCC;
  padding-left: 5px;
  padding-right: 5px;
}
